{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/header.html' %}
<div class="container">
    <div class="row my-2">
        <div class="bg-dark text-white col-12">
            <h5 class="p-3">Category Offers</h5>
        </div>
        {% if not category_offers %}
            <div class="col-12">
                <p>No category offers available at the moment !</p>
            </div>
        {% else %}
            {% for categoryoffer in category_offers %}
            <div class="card m-2 ms-0 p-0" style="width: 15rem;">
            <img class="card-img-top " src="{{categoryoffer.category_offer_image.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{categoryoffer.offer_name}}</h5>
                    <b> Applicable Categories</b>
                    <p>
                        {% for category in categoryoffer.category.all %}
                            <div class="text-success mx-1 my-2 d-inline-block ">{{ category.category_name }},</div>
                        {% endfor %}
                    </p>
                    <a href="{% url 'store-category-offers' categoryoffer.category_offer_slug %}" class="btn btn-dark">View Products</a>
                </div>
            </div>

            {% endfor %}
        {% endif %}
    </div>



    <div class="row my-2">

        <div class="bg-dark text-white col-12">
            <h5 class="p-3">Product Offers</h5>
        </div>
        {% if not product_offers %}
            <div class="col-12">
                <p>No product offers available at the moment !</p>
            </div>
        {% else %}
            {% for productoffer in product_offers %}
                <div class="card m-2 ms-0 p-0" style="width: 15rem;">
                <img class="card-img-top " src="{{productoffer.product_offer_image.url}}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{productoffer.offer_name}}</h5>
                    <b> Applicable Products:</b>
                    <p>
                    {% for product in productoffer.product.all %}
                    <div class="text-success mx-1 my-2 d-inline-block ">{{ product.get_product_name }},</div>
                    {% endfor %}
                    </p>
                    <a href="{% url 'store-product-offers' productoffer.product_offer_slug %}" class="btn btn-dark">View Products</a>
                    
                    </div>
                </div>

            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}