{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'includes/header.html' %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten" style="min-height:84vh">
{% include 'includes/alerts.html' %}
	<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:50px;">
		<div class="card-body">
			<h4 class="card-title mb-4">Reset password</h4>
			asdfg
			<h4 class="card-title mb-4">{{user.full_name}}</h4>

			<form action="{% url 'reset_password' %}" method="post">
				{% csrf_token %}
				
          <div class="form-group">
			<label for="exampleInputPassword1" class="form-label text-dark">New Password</label>
			<input type="password" name="password" class="form-control" placeholder="Password" id="exampleInputPassword1">
          </div>
          <div class="form-group">
			<label for="exampleInputPassword1" class="form-label text-dark">Re-enter password</label>
			<input type="password" name="confirm_password" class="form-control" placeholder="Confirm password" id="exampleInputPassword1">
          </div>
		  <!-- form-group// -->
          
          <div class="form-group mt-5">
              <button type="submit" class="btn btn-primary btn-block">Reset password</button>
          </div>
		  <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">Don't have account? <a href="{% url 'user_signup' %}">Sign up</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right"> 
			&copy Copyright 2019 All rights reserved
		</p>
		<p>
			<a href="#">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

{% endblock %}