{% extends 'admin_templates/base_admin.html' %}
{% load static %}

{% block content %}
<section class="section-conten" style="min-height:84vh">
	
	<!-- ============================ COMPONENT LOGIN   ================================= -->
  <div class="container">
    <div class="card mb-3 " >
      <h4 class="card-header">Product Variant Edit </h4>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="row mb-5">

              <div class="col-md-6 col-sm-12">

                <div class="mb-3 col-sm-12">
                  <h5 class="form-label">Thumbnail image</h5>
                  <div class="row d-flex justify-content-start">
                    <div class="col-md-3 col-sm-12">
                      <img id="imagethumbnail" class="image-form-custom" src="{{product_variant.thumbnail_image.url}}" alt="Thumbnail image">
                    </div>
                    <div class="col-md-7 col-sm-12 ms-md-3 d-flex flex-column justify-content-center">
                      <label for="photothumbnail" hidden class="form-label"></label>
                      <input type="file"  accept=".jpg,.jpeg,.WEBP,.png" class="form-control" onchange="send_data(inputid ='thumbnail', variant_slug = '{{product_variant_slug}}')" id="photothumbnail">
                    </div>
                  </div>
                </div>
                
                <div class="mt-5 col-sm-12">
                  <h5 class="form-label">Additional images</h5>
                  
                  <div class="overflow-auto" style="height: 300px;">
                    {% for image in current_additional_images %}

                    <div class="row p-3 coupon-bg d-flex justify-content-start">
                      <div class="col-md-3 col-sm-12 mx-2 my-2">
                        <img id="image{{forloop.counter}}" class="image-form-custom" src="{{image}}" alt="">
                      </div>
                      <div class="col-md-7 coupon-bg col-sm-12 my-2 mx-2 px-sm-0 px-md-3 d-flex align-items-center">
                        <label for="photo{{forloop.counter}}" hidden></label>
                        <input type="file" class="form-control" onchange="send_data(inputid ='{{forloop.counter}}', variant_slug = '{{product_variant_slug}}', image_id = '{{image.id}}')" id="photo{{forloop.counter}}" name ="add_image{{forloop.counter}}" accept=".jpg,.jpeg,.WEBP,.png">
                        <input type="text" hidden value="{{image.id}}" name="product-image{{forloop.counter}}">
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">   
                {{product_variant_form.as_p}}
                <hr>
              </div>
            </div>
              <hr>
            <div class="mt-5">
              <button type="submit" class="btn btn-primary w-100">Update  Now</button>
            </div>

          </form>
        </div>
          <hr>
                
          <p class="base-small-font mt-2">
            <a  href="{% url 'products' %}">Go Back</a>
            <a class="text-danger" href="{% url 'admin-product-variant-delete' product_variant_slug %}">Delete</a>

          </p>
        </div>
      </div>
    </div>
</section>




{% endblock %}