{% extends 'admin_templates/base_admin.html' %}
{% load static %}

{% block content %}
<div class="row">
  {% include 'admin_templates/general/alerts.html' %}
    <div class="col-lg-12 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="col card-title fw-semibold m-0 ">Products</h5>
          </div>
          <div class="table-responsive">
            <table class="table text-nowrap align-items-center mb-0 align-middle">
              <thead class="text-dark fs-4">
                <tr>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Product ID</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Product image</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Product name</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Brand name</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Category</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Is available</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Action</h6>
                  </th>
                </tr>
              </thead>
              
                {% for product in products %}
                <tr>
                  <td class="border-bottom-0 text-center">
                    <h6 class="fw-semibold tablecontent mb-1">{{ forloop.counter }}</h6>
                  </td>
                  <td class="border-bottom-0">
                    <a href="{% url 'product_update' product.prod_slug %}">
                      <img style="width: 60px;" class="prod-img-inlist" src="/media/{{ product.image }}" alt="">
                    </a>
                  </td>
                  <td class="border-bottom-0">
                    <a href="{% url 'product_update' product.prod_slug %}">
                      <h6 class="text-decoration-underline text-primary fw-normal mb-1">{{product.product_name}}</h6>
                    </a>
                  </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-normal mb-1">{{product.brand}}</h6>
                  </td>
                  <td class="border-bottom-0">
                    <h6 class="fw-normal mb-1">{{product.category}}</h6>
                  </td>
                  <td class="border-bottom-0">
                    <div class="mb-1">
                      <!-- <span class="badge bg-primary rounded-3 fw-semibold"> -->
                        {% if product.is_available %}
                        Enabled
                        {% else %}
                        Disabled
                        {% endif %}
                      <!-- </span> -->
                    </div>
                  </td>
                  <td class="border-bottom-0">
                    {% if product.is_available %}
                    <a href="{% url 'product_control' product.prod_slug %}">
                      <button class="btn btn-danger mb-1 px-3">Disable</button>
                    </a>
                    {% else %}
                    <a href="{% url 'product_control' product.prod_slug %}">
                      <button class="btn btn-success mb-1">Enable</button>
                    </a>
                    {% endif %}
                  </td>
                </tr> 
                {% endfor %}                    
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}